*{
    margin: 0;
    padding: 0;
}

.neptune{
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.neptuneimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 100px;
    
}