*{
    margin: 0;
    padding: 0;
}

.saturn{
    width: 175px;
    height: 150px;
    overflow: hidden;
}

.saturnimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 100px;
}